[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=joschi
Group=joschi
WorkingDirectory=/home/joschi/app/src 
Environment="PATH=/home/joschi/app/venv/bin"
ExecStart=/home/joschi/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target