name: Build and Deploy Code

on: 
    push:
        branches:
            - "main"
    pull_request:
        branches:
            - "main"

jobs:
    job1:
        env: #only accessible in job1, for all jobs define it after on:
            DATABASE_HOSTNAME: localhost
            DATABASE_PORT: 5432
            DATABASE_PASSWORD: 13579
            DATABASE_NAME: postgres
            DATABASE_USERNAME: postgres
            SECRET_KEY: 09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
            ALGORITHM: HS256
            ACCESS_TOKEN_EXPIRE_MINUTES: 30
        runs-on: ubuntu-latest
        steps:
            - name: pulling git repo
              uses: actions/checkout@v5
            - name: Install Python
              uses: actions/setup-python@v6
              with:
                python-version: '3.13' 
            - name: update pip
              run: python -m pip install --upgrade pip
            - name: Install dependencies
              run: pip install -r requirements.txt
            - name: test with pytest
              run: |
                pip install pytest
                pytest 